.jumbotron{
    background-image: url(https://4kwallpapers.com/images/wallpapers/bear-lake-rocky-mountain-national-park-sunset-reflection-5120x2880-8354.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top:100px;
    padding-bottom:60px;
    font-weight: bold;
    color:cornsilk;
    text-shadow: 1px 1px 5px black;
}